.joke {
	padding: 2rem;
	border: 1px solid black;
	margin-bottom: 1rem;
}

.message {
	padding: 1rem;
	border: 1px black solid;
}

.message.error {
	color: red;
	border-color: red;
}

.message.warning {
	color: orange;
	border-color: orange;
}

.message.success {
	color: green;
	border-color: green;
}
